/* ========================================= */
/*           RESPONSIVE BREAKPOINTS         */
/* ========================================= */

@media (max-width: 767px) {
    
    nav .nav-menu i {
        color: #fff;
    }

    #search {
        width: 75% !important;
    }

    .item{
        width: 200px;
    }
}


@media (max-width: 991px) {
    .overlay .title {
        font-size: clamp(18px, 4vw, 30px);
    }

    .overlay .desc {
        font-size: clamp(12px, 2.5vw, 16px);
    }

    .overlay .date {
        margin-bottom: 0;
    }
}


@media (max-width: 991px) {

    #hero.shift .col-lg-4,
    #contact.shift .col-lg-4 {
        flex: 0 0 45%;
        max-width: 45%;
    }
}

@media (max-width: 600px) {

    #hero.shift .col-lg-4,
    #contact.shift .col-lg-4 {
        flex: 0 0 90%;
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    #back-to-top {
        height: 35px;
        width: 35px;
        bottom: 10px;
        right: 10px;
    }

    #back-to-top i {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 991px) {
    .side-nav {
        width: 200px;
        margin-left: -200px;
    }

    #hero.shift,
    #contact.shift {
        margin-left: 260px;
    }
}