/*todo ======================== General Css ========================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: unset !important;
}

body {
    background-color: #0D0D0D;
    font-family: Segoe UI Light;
}

a,
li {
    text-decoration: none;
    list-style-type: none;
    color: #F8F6F6;
}

:root {
    --main-color: #000;
    --secondary-color: #fff;
}

::selection {
    background-color: #fff;
    color: var(--main-color);
}

#search {
    height: 40px;
    transition: all 0.5s;
    border: 2px solid #F8F6F6;
}

#search::placeholder {
    text-align: center;

}

/*todo========================= NavBar ========================*/
nav {
    width: 60px;
    background-color: #f8f6f6;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
    height: 100vh;

}

nav .nav-logo {
    padding: 25px 0;
}

nav .nav-logo img {
    height: 48px;
    user-select: none;
}

nav .nav-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

nav .nav-menu i {
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
}

nav .nav-social {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

}

.nav-social i {
    margin-top: 5px;
    cursor: pointer;
}

.side-nav {
    background-color: #000;
    width: 250px;
    z-index: 9999;
    padding: 0 30px;
    margin-left: -250px;
    transition: all 0.5s ease-in-out;

}

.menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 300px;
}

.menu ul li a {
    color: #f9f6f6 !important;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu ul li a:hover {
    color: #ff655c !important;
}

.rights {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.rights p {
    color: rgb(153, 153, 153) !important;
}

.icon-social a {
    color: #f9f6f6;
    padding-left: 15px;
    font-size: 14px;
}

/*? open - close => side nav  */
/* Nav shift */
nav.shift {
    margin-left: 250px;
    transition: margin-left 0.5s ease-in-out;
}

/* Sidebar open */
.side-nav {
    margin-left: -250px;
    transition: margin-left 0.5s ease-in-out;
}

.side-nav.open {
    margin-left: 0;
}

/* Menu items */
.menu ul li.show {
    padding-top: 25px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

/* Hero container */
#hero {
    transition: margin-left 0.5s ease-in-out;
}

/* Cards */
#hero .col-lg-4 {
    transition: flex 0.5s ease-in-out, max-width 0.5s ease-in-out;
}

/* Shifted hero & cards */
#hero.shift {
    margin-left: 310px;
    /* 60px nav + 250px sidebar */
}

#hero.shift .col-lg-4 {
    flex: 0 0 30%;
    max-width: 30%;
}

/* contact */
#contact {
    transition: margin-left 0.5s ease-in-out;
}

#contact .col-lg-4 {
    transition: flex 0.5s ease-in-out, max-width 0.5s ease-in-out;
}

/* Shifted contact */
#contact.shift {
    margin-left: 310px;
    /* 60px nav + 250px sidebar */
    width: auto;
}

#contact.shift .col-lg-4 {
    flex: 0 0 30%;
    max-width: 30%;
}

/*todo========================= Hero Section ========================*/
#hero {
    margin-left: 130px;
}

.item {
    width: 90%;
    margin: auto;
}

.cardImage {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.cardImage img {
    transition: all 0.5s ease-in-out;
}

.cardImage img.animate {
    transform: rotate(5deg) scale(1.25);
    filter: blur(4px);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.overlay .title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    user-select: text;
}

.overlay .date {
    font-style: italic;
}

.overlay .desc {
    color: #EDEDED;
    user-select: text;
}

.overlay .vote {
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    padding: 10px;
    border-radius: 50%;
}

/*todo========================= Contact Section ========================*/
#contact {
    margin-left: 130px;
}

.form-input {
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-color: #CED4DA;
    border-radius: 0;
    color: #fff;
    transition: all 0.5s;
}

.form-input::placeholder {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #818181;
}

.form-input:focus {

    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #ff655c;
    border-color: #ff655c;
    border-radius: 0;

}

.sub-btn {
    transition: all 0.2s ease-in-out;
     box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
}

.showPass {
    background-color: transparent;
    position: absolute;
    right: 10px;
    bottom: -20px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;
}

.error {
    color: rgb(214, 46, 51);
    position: absolute;
    font-weight: 700;
}

/*todo ======================== back-to-top ========================*/
#back-to-top {
    position: fixed;
    background-color: var(--main-color);
    height: 40px;
    width: 40px;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 50%;
    cursor: pointer;
}

#back-to-top i {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-to-top a {
    color: #fff;
}

#back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*todo ======================== loading screen ========================*/
.loading
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}